.pagination {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.paginationItem {
  width: 3.2rem;
  height: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 0.4rem;
  border: 0.1rem solid #405d98;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #212b36;
}
