.dropdowncontainer {
  display: flex;
  flex-direction: column;
}

.dropdowntop {
  display: flex;
  gap: 3.1rem;
  align-items: center;
  cursor: pointer;
}

.sortby {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.25rem;
  color: #0d0c22;
}
